BBM.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2021 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Bloodbank">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="donor" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"></xs:element>
                            <xs:element name="sex" type="xs:string"></xs:element>
                            <xs:element name="age" type="xs:integer"></xs:element>
                            <xs:element name="blood-group" type="xs:string"></xs:element>
                            <xs:element name="quantity" type="xs:float"></xs:element>
                            <xs:element name="contact" type="xs:integer"></xs:element>
                            <xs:element name="date" type="xs:date"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="age">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="18"/>
                <xs:maxInclusive value="40"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
</xs:schema>
